.body2
{
    display: flex;
    
}
.head
{
    border: 2px solid black;
    height: 300px;
    width: 100%;
    margin: 30px;
    text-align: left;
    
}
.body img{
    height: 1000px;
    width: 500px;
    
    
}
.body{
    padding-left: 300px;
}
img
{
    margin-left: 300px;
}